.header{
    background-color:#17c7be;
    padding:10px;
}
.drop{
    color:white;
    font-size:200%;
}
.navig ul li a {
    color:white;
    font-size: 130%;
}
.myfind{
    width:165px;
    padding-top:10px;
}
.find{
    background-color:#0f9b94;
    border:0;
    color:white;
}
.find::-webkit-input-placeholder {
    color: white;
} 
.find::-moz-placeholder {
    color: white;
}
.content{
    padding-top:25px;
}
.dop{
    padding-top:10px;
}
.dop a p{
    color:black;
}
.article{
    padding-top:25px;
}
.headText{
    font-size:130%;
}
.date i {
    color:#17c7be;
}
.more span{
    font-size:80%;
}
.pages{
    padding-left:40%;
}

.footer{
    background-color:#222429;
    width:50 px;
    color:white;
    padding-top:10px;
    padding-bottom:5px;
}
.theme2 {
    padding-top: 20%;
}
.podp div {
    padding-top:5%;
}
.inputem{
    background-color:black;
    border:0;
}
.inputbtn{
    background-color:#17c7be;
}
.social{
    padding-top:10px;
}
.write{
    padding-top:5%;
}
.fixed {
    padding-top:10%;
}
